/* .accept-draft-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px;
    margin-top: 1%;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    border: none;
  }

.accept-draft-button {
    background-color: #139c53;
    margin-bottom: 5px;
} */